@font-face {
    font-family: Roboto;
    src: url("../font/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Nothing You Could Do";
    src: url("../font/NothingYouCouldDo.ttf");
}

#main-logo {
    font-family: "Nothing You Could Do";
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
}

.svg-wrapper {

    width: 30%;
    height: auto;
    margin: auto;
}

.nav-side {
    width: 20%;
    float: left;
}

.content-container {
    margin-left: 20%;
    padding-left: 20px;
}

.img-container {
    display: inline-block;
    margin-top: 10px;
}

.img-white {
    background-color: orange;
    padding: 5px;
}

.number {
    font-size: 200%;
}

.icon-table {
    display: inline-block;
    padding-right: 50px;
}

.chart-container {
    margin-top: 80px;
}

.sport-chart{
    width: 100%;
    height: 400px;
}

footer {
    text-align: center;
}

.table-hover tr {
    cursor: pointer;
}

.nav.navbar-nav .dropdown a {
    padding-top: 9px;
    padding-bottom: 9px;
}