nav.navbar {
    display: inline-block;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

#head-navbar ul>li {
    float: left;
}

#head-navbar ul>li>a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.login-info {
    display: inline-block;
    float: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content > a {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    text-align: center;
}