#gradient {
    display: inline-block;
    margin-top: 10px;
    height: 30px;
    width: 70%;
    background: linear-gradient(to right, deepskyblue, orange, red);
    opacity: 0.5;
    border-radius: 3px;
}

#hand-container {
}

.prograss-bar {
    position: relative;
    margin-top: 20px;
    padding-right: 40%;
}

#hand-down {
    transform: scale(1.5,1.5);
    position: relative;
    left: 50%;
}

.body-shape-icon {
    position: relative;
    bottom: 10px;
}

.label-container {
    float: right;
    padding-right: 30px;
}

.label {
    cursor: pointer;
    font-size: 16px;
}

.body-chart{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    clear: both;
}

.body-number {
    font-family: "Roboto" , sans-serif;
    font-weight: 200;
    font-size: 500%;
}